<section id="styleguide">
  <section class="row">
    <header>
      <h2>About this page</h2>
    </header>
    <div class="content-row">
      <article class="column full">
        <div class="content">
          <p>This page features a variety of HTML elements you might find on a website.
          It is not 100% exhaustive but should be a good example of things you might
          find on a Drupal site.</p>

          <p>It includes tabs at the top of the page (Web and Form), and other tabs may
          include sub-tabs and action links. This page also includes three status
          messages, marked as status, warning, and error, respectively.</p>
        </div>
      </article>
    </div>
  </section>

  <section class="row">
    <div class="content-row">
      <article class="column half">
        <div class="content">

          {{ elements.form }}

        </div>
      </article>
      <article class="column half details"></article>
    </div>
  </section>

  <section class="row">
    <header>
      <h2>Color Palette</h2>
    </header>
    <div class="content-row">
      <article class="column half">
        <header>
          <h3>Red</h3>
        </header>
        <div class="content">
          <ul class="swatch">
            <li class="color crimson"></li>
            <li class="info">
              <p>Crimson</p>
              <p>#D63700</p>
              <p>rgb(214, 55, 0)</p>
            </li>
          </ul>
          <ul class="swatch">
            <li class="color red"></li>
            <li class="info">
              <p>Red</p>
              <p>#FF5C36</p>
              <p>rgb(255, 92, 54)</p>
            </li>
          </ul>
          <ul class="swatch">
            <li class="color pink"></li>
            <li class="info">
              <p>Pink</p>
              <p>#FFA091</p>
              <p>rgb(255, 160, 145)</p>
            </li>
          </ul>
        </div>
      </article>
      <article class="column half">
        <header>
          <h3>Blue</h3>
        </header>
        <div class="content">
          <ul class="swatch">
            <li class="color blue"></li>
            <li class="info">
              <p>Blue</p>
              <p>#3880FF</p>
              <p>rgb(56, 128, 255)</p>
            </li>
          </ul>
          <ul class="swatch">
            <li class="color azurez"></li>
            <li class="info">
              <p>Azurez</p>
              <p>#59A1F7</p>
              <p>rgb(89, 161, 247)</p>
            </li>
          </ul>
          <ul class="swatch">
            <li class="color sky"></li>
            <li class="info">
              <p>Sky</p>
              <p>#91B2FF</p>
              <p>rgb(145, 178, 255)</p>
            </li>
          </ul>
        </div>
      </article>
    </div>
  </section>

  <section class="row">
    <div class="content-row">
      <article class="column half">
        <header>
          <h3>Green</h3>
        </header>
        <div class="content">
          <ul class="swatch">
            <li class="color forest"></li>
            <li class="info">
              <p>Forest</p>
              <p>#139680</p>
              <p>rgb(19, 150, 128)</p>
            </li>
          </ul>
          <ul class="swatch">
            <li class="color green"></li>
            <li class="info">
              <p>Green</p>
              <p>#00D87B</p>
              <p>rgb(0, 216, 123)</p>
            </li>
          </ul>
          <ul class="swatch">
            <li class="color seafoam"></li>
            <li class="info">
              <p>Seafoam</p>
              <p>#59E2B7</p>
              <p>rgb(89, 226, 183)</p>
            </li>
          </ul>
        </div>
      </article>
      <article class="column half">
        <header>
          <h3>Orange</h3>
        </header>
        <div class="content">
          <ul class="swatch">
            <li class="color amber"></li>
            <li class="info">
              <p>Amber</p>
              <p>#FFAE1A</p>
              <p>rgb(255, 174, 26)</p>
            </li>
          </ul>
          <ul class="swatch">
            <li class="color yellow"></li>
            <li class="info">
              <p>Yellow</p>
              <p>#FFD86E</p>
              <p>rgb(255, 216, 110)</p>
            </li>
          </ul>
        </div>
      </article>
    </div>
  </section>

  <section class="row">
    <div class="content-row">
      <article class="column full">
        <header>
          <h3>Black/Gray/White</h3>
        </header>
        <div class="content">
          <ul class="swatch">
            <li class="color black"></li>
            <li class="info">
              <p>Black</p>
              <p>#222222</p>
              <p>rgb(34, 34, 34)</p>
            </li>
          </ul>
          <ul class="swatch">
            <li class="color very-dark-gray"></li>
            <li class="info">
              <p>Very Dark Gray</p>
              <p>#2E2E2E</p>
              <p>rgb(46, 46, 46)</p>
            </li>
          </ul>
          <ul class="swatch">
            <li class="color dark-gray"></li>
            <li class="info">
              <p>Dark Gray</p>
              <p>#4E4E4E</p>
              <p>rgb(78, 78, 78)</p>
            </li>
          </ul>
          <ul class="swatch">
            <li class="color gray"></li>
            <li class="info">
              <p>Gray</p>
              <p>#DEDEDE</p>
              <p>rgb(222, 222, 222)</p>
            </li>
          </ul>
          <ul class="swatch">
            <li class="color white"></li>
            <li class="info">
              <p>White</p>
              <p>#FFFFFF</p>
              <p>rgb(255,255,255)</p>
            </li>
          </ul>
        </div>
      </article>
    </div>
  </section>

  <section class="row">
    <header>
      <h2 id="body">Body Copy</h2>
    </header>
    <div class="content-row">
      <article class="column half">
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet,
            <a title="test link" href="#">test link</a> adipiscing elit.
            <strong>This is strong.</strong> Nullam dignissim convallis est. Quisque aliquam.
            <em>This is emphasized.</em> Donec faucibus.
            <strong>this is <em>strongly emphasized.</em></strong> Nunc iaculis suscipit dui.
            5<sup>3</sup> = 125. Water is H<sub>2</sub>O.
            Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.
            <cite>The New York Times</cite> (That's a citation).
            <u>Underline.</u> Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy.
            Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc.
            Morbi imperdiet augue quis tellus.
          </p>

          <p>
            <abbr title='Hyper Text Markup Language'>HTML</abbr> and
            <abbr title='Cascading Style Sheets'>CSS</abbr> are our tools. Mauris a ante.
            Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc.
            Morbi imperdiet augue quis tellus. Praesent mattis, massa quis luctus fermentum,
            turpis mi volutpat justo, eu volutpat enim diam eget metus.
            To copy a file type <code>COPY <var>filename</var></code>.
            <del>Dinner's at 5:00.</del> <ins>Let's make that 7.</ins>
            This <s>text</s> has been struck. This <mark>text</mark> has been marked.
          </p>

          <p><small>This footnote is made with the <code>small</code> element.</small></p>
        </div>
      </article>
      <article class="column half details">
        <ul>
          <li><strong>font-family:</strong>Calibre Regular</li>
          <li><strong>font-size:</strong>18px</li>
          <li><strong>color:</strong>#000000</li>
          <li><strong>line-height:</strong>1.4</li>
          <li><strong></strong></li>
          <li><strong></strong></li>
          <li><strong></strong></li>
          <li><strong></strong></li>
        </ul>
      </article>
    </div>
  </section>

  <section class="row">
    <header>
      <h2>Headlines</h2>
    </header>
    <div class="content-row">
      <article class="column half">
        <div class="content">
          <h1>H1 Page Title Copy</h1>
        </div>
      </article>
      <article class="column half details">
        <ul>
          <li><strong>font-family:</strong>Calibre Semibold</li>
          <li><strong>font-size:</strong>3.2em</li>
          <li><strong>color:</strong>#222222</li>
          <li><strong>line-height:</strong>1</li>
        </ul>
      </article>
    </div>

    <div class="content-row">
      <article class="column half">
        <div class="content">
          <h2>H2 Headline Copy</h2>
        </div>
      </article>
      <article class="column half details">
        <ul>
          <li><strong>font-family:</strong>Calibre Semibold</li>
          <li><strong>font-size:</strong>2em</li>
          <li><strong>color:</strong>#222222</li>
          <li><strong>line-height:</strong>1</li>
        </ul>
      </article>
    </div>

    <div class="content-row">
      <article class="column half">
        <div class="content">
          <h3>H3 Headline Copy</h3>
        </div>
      </article>
      <article class="column half details">
        <ul>
          <li><strong>font-family:</strong>Calibre Regular</li>
          <li><strong>font-size:</strong>34px</li>
          <li><strong>color:</strong>#676767</li>
          <li><strong>line-height:</strong>1</li>
        </ul>
      </article>
    </div>

    <div class="content-row">
      <article class="column half">
        <div class="content">
          <h4>H4 Headline Copy</h4>
        </div>
      </article>
      <article class="column half details">
        <ul>
          <li><strong>font-family:</strong>Calibre Semibold</li>
          <li><strong>font-size:</strong>28px</li>
          <li><strong>color:</strong>#676767</li>
          <li><strong>line-height:</strong>1</li>
        </ul>
      </article>
    </div>

    <div class="content-row">
      <article class="column half">
        <div class="content">
          <h5>H5 Headline Copy</h5>
        </div>
      </article>
      <article class="column half details">
        <ul>
          <li><strong>font-family:</strong>Calibre Regular</li>
          <li><strong>font-size:</strong>24px</li>
          <li><strong>color:</strong>#676767</li>
          <li><strong>line-height:</strong>1</li>
        </ul>
      </article>
    </div>

    <div class="content-row">
      <article class="column half">
        <div class="content">
          <h6>H6 Headline Copy</h6>
        </div>
      </article>
      <article class="column half details">
        <ul>
          <li><strong>font-family:</strong>Calibre Semibold</li>
          <li><strong>font-size:</strong>20px</li>
          <li><strong>color:</strong>#676767</li>
          <li><strong>line-height:</strong>1</li>
        </ul>
      </article>
    </div>

    <div class="content-row">
      <article column full>
        <heading>
          <h3>Headings in company colors</h3>
        </heading>
        <h3 style="color: #d63700;">H3: The quick brown fox jumps over the lazy dog</h3>
        <h3 style="color: #3880ff;">H3: The quick brown fox jumps over the lazy dog</h3>
        <h3 style="color: #139680;">H3: The quick brown fox jumps over the lazy dog</h3>
        <h3 style="color: #ffae1a;">H3: The quick brown fox jumps over the lazy dog</h3>
      </article>
    </div>

  </section>

  <section class="row">
    <header>
      <h2>Horizontal Rules</h2>
    </header>
    <div class="content-row">
      <article class="column full">
        <div class="content">
          <p>
            We sometimes use the <code>hr</code> element to separate sections of the page,
            so we hide them using CSS. However, we sometimes want to use them inline to
            separate blocks of content, so we should turn them back on, like so.
          </p>

          <hr />
        </div>
      </article>
    </div>
  </section>

  <section class="row">
    <header>
      <h2 id="lists">List Types</h2>
    </header>

    <div class="content-row">
      <article class="column half">
        <h3>Definition List</h3>
        <div class="content">
          <dl>
            <dt>Definition List Title</dt>
            <dd>This is a definition list division.</dd>
            <dt>Definition</dt>
            <dd>
              An exact statement or description of the nature, scope, or meaning of something:
              <em>our definition of what constitutes poetry.</em>
            </dd>
          </dl>
        </div>
      </article>
      <article class="column half details">
        <ul>
          <li><strong>font-family:</strong>Calibre Regular</li>
          <li><strong>font-size:</strong>18px</li>
          <li><strong>color:</strong>#000000</li>
          <li><strong>line-height:</strong>1.4</li>
        </ul>
      </article>
    </div>

    <div class="content-row">
      <article class="column half">
        <h3>Ordered List</h3>
        <div class="content">
          <ol>
            <li>List Item 1</li>
            <li>List Item 2
              <ol>
                <li>Nested list item A</li>
                <li>Nested list item B</li>
              </ol>
            </li>
            <li>List Item 3</li>
          </ol>
        </div>
      </article>
      <article class="column half details">
        <ul>
          <li><strong>font-family:</strong>Calibre Regular</li>
          <li><strong>font-size:</strong>18px</li>
          <li><strong>color:</strong>#000000</li>
          <li><strong>line-height:</strong>1.4</li>
        </ul>
      </article>
    </div>

    <div class="content-row">
      <article class="column half">
        <h3>Ordered List</h3>
        <div class="content">
          <ul>
            <li>List Item 1</li>
            <li>List Item 2
              <ul>
                <li>Nested list item A</li>
                <li>Nested list item B</li>
              </ul>
            </li>
            <li>List Item 3</li>
          </ul>
        </div>
      </article>
      <article class="column half details">
        <ul>
          <li><strong>font-family:</strong>Calibre Regular</li>
          <li><strong>font-size:</strong>18px</li>
          <li><strong>color:</strong>#000000</li>
          <li><strong>line-height:</strong>1.4</li>
        </ul>
      </article>
    </div>
  </section>


  <section class="row">
    <header>
      <h2 id="tables">Tables</h2>
    </header>

    <div class="content-row">
      <article class="column half">

        <table width="100%">
        <tbody>
        <tr>
          <th>&nbsp;</th>
          <th>Enterprise</th>
          <th>Enterprise D</th>
          <th>Galactica</th>
        </tr>
        <tr>
          <th>Captain</th>
          <td>James Kirk</td>
          <td>Jean-Luc Picard</td>
          <td>William Adama</td>
        </tr>
        <tr>
          <th>XO</th>
          <td>Spock</td>
          <td>William Riker</td>
          <td>Saul Tigh</td>
        </tr>
        <tr>
          <th>Doctor</th>
          <td>Leonard McCoy</td>
          <td>Beverly Crusher</td>
          <td>Doc Cottle</td>
        </tr>
        <tr>
          <th>Engineer</th>
          <td>Montgomery Scott</td>
          <td>Geordi LaForge</td>
          <td>Galen Tyrol</td>
        </tr>
        </tbody>
        </table>
      </article>

      <article class="column half details"></article>
    </div>
  </section>


  <section class="row">
    <header>
      <h2 id="text">Preformatted Text</h2>
    </header>

    <div class="content-row">
      <article class="column half">
        <p>
          Typographically, preformatted text is not the same thing as code. Sometimes,
          a faithful execution of the text requires preformatted text that may not have
          anything to do with code. For example:
        </p>

        <pre>“Beware the Jabberwock, my son!
        The jaws that bite, the claws that catch!
        Beware the Jubjub bird, and shun
        The frumious Bandersnatch!”</pre>

        <pre>! " # $ % &amp; ' ( ) * + , - . /
        0 1 2 3 4 5 6 7 8 9 : ; &lt; = &gt; ?
        @ A B C D E F G H I J K L M N O
        P Q R S T U V W X Y Z [ \ ] ^ _
        ` a b c d e f g h i j k l m n o
        p q r s t u v w x y z { | } ~</pre>

        <h3>Code</h3>

        <p>
          Code can be presented inline, like
          <code>&lt;?php bloginfo('stylesheet_url'); ?&gt;</code>, or within a
          <code>&lt;pre&gt;</code> block.
        </p>

        <pre><code>#container {
            float: left;
            margin: 0 -240px 0 0;
            width: 100%;
        }</code></pre>

        <p>
          You can also get syntax highlighting by adding
          <code>class="language-XXXX"</code> to your
          <code>code</code> element, like so:
        </p>

        <pre><code class="language-markup">&lt;pre>
            &lt;code class="language-css">
                p {
                    color: red
                }
            &lt;/code>
        &lt;/pre></code></pre>

        <p>CSS Formatting:</p>
        <pre><code class="lang-css">pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
        code[class*="language-"]::selection, code[class*="language-"] ::selection {
            text-shadow: none;
            background: #b3d4fc;
        }

        @media print {
            code[class*="language-"],
            pre[class*="language-"] {
                text-shadow: none;
            }
        }</code></pre>

        <p>Ruby Formatting:</p>
        <pre><code class='language-ruby'>
          class Cow
            def says
              puts 'moo'
            end
          end

          Cow.new.says #=> moo
        </code></pre>

        <p>And many more!</p>
      </article>

      <article class="column half details">

      </article>
    </div>
  </section>

  <section class="row">
    <header>
      <h2 id="Figures">Figures</h2>
    </header>

    <div class="content-row">
      <article class="column half">
        <p>Figures are usually used to refer to images:</p>

        <figure>
          <img alt='' src='http://lorempixel.com/1280/720/abstract/?r' width='640' />
          <figcaption>
            <h4>Figure Heading</h4>
            <p>This is a placeholder image, with supporting caption.</p></p>
          </figcaption>
        </figure>

        <p>Here, a part of a poem is marked up using figure:</p>

        <figure>
          <p>
            &#8216;Twas brillig, and the slithy toves
            <br>Did gyre and gimble in the wabe;
            <br>All mimsy were the borogoves,
            <br>And the mome raths outgrabe.
          </p>
          <figcaption>
            <p><cite>Jabberwocky</cite> (first verse). Lewis Carroll, 1832-98</p>
          </figcaption>
        </figure>
      </article>

      <article class="column half details">

      </article>
    </div>
  </section>

  <section class="row">
    <header>
      <h2 id="blockquotes">Blockquotes</h2>
    </header>

    <div class="content-row">
      <article class="column half">

        <p>Let's keep it simple. Italics are good to help set it off from the body text. Be sure to style the citation.</p>

        <blockquote>
          <p>
            Good afternoon, gentlemen. I am a <em>HAL 9000</em> computer. I became operational at the H.A.L. plant in Urbana, Illinois on the 12th of January 1992. My instructor was Mr. Langley, and he taught me to sing a song. If you'd like to hear it I can sing it for you.
          </p>
          <p><cite>— <a href="http://en.wikipedia.org/wiki/HAL_9000">HAL 9000</a></cite></p>
        </blockquote>

        <p>And here's a bit of trailing text.</p>
      </article>
      <article class="column half details"></article>
    </div>
  </section>

</section>

